@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf); 
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul {
padding: 0;
}

.nav-menu__text {
    font-size: 18px;
    color: #FAFAFA;
    font-family: 'Montserrat';
}

/* HEADER */

.header{
    background-image: url(/anticafe/img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    background: rgba(17, 17, 17, 0.79);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    height: 18.2%;
}

.header-logo {
    padding: 20px;
}

.nav-menu{
    margin : 0 5px;
    padding: 0 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-cont{
    margin: 150px 80px 70px;
}